.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    a{
        color: white;
        text-decoration: none;
    }
}

.grid{
    display: grid;
    grid-template-columns: 480px 480px 480px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.tarjeta:hover{
    background-color: grey;
}

.en_linea{
    display: inline;
}

.sin_resaltar{
    font-weight: normal;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form{
    input{
        text-align: center;
        width: 175px;
    }

    button{
        width: 180px;
    }
}

a{
    color: black;
    text-decoration: none;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}